---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alimentación">
    
    <div class="flex-col items-center justify-center relative w-full px-1 mx-auto md:px-12 lg:px-24 max-w-[75%]">
        <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-2">
            <div class="p-6">
                <a href="#"></a>

                <h1
                    class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-slate-100 lg:text-3xl"
                >
                    Paleo
                </h1>
                <p class="mx-auto text-base leading-relaxed text-slate-100">
                    Breve descripción de la dieta
                </p>

                <div class="mt-4">
                    <a
                        href="#"
                        class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
                        title="read more"
                    >
                        Leer más »</a
                    >
                </div>
            </div>
            <div class="p-6">
                <a href="#"> </a>
                <h1
                    class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-slate-100 lg:text-3xl"
                >
                    Mediterranea
                </h1>
                <p class="mx-auto text-base leading-relaxed text-slate-100">
                    Breve descripción de la dieta
                </p>

                <div class="mt-4">
                    <a
                        href="#"
                        class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
                        title="read more"
                    >
                        Leer más »</a
                    >
                </div>
            </div>
            <div class="p-6">
                <a href="#"> </a>
                <h1
                    class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-slate-100 lg:text-3xl"
                >
                    Vegetariana
                </h1>
                <p class="mx-auto text-base leading-relaxed text-slate-100">
                    Breve descripción de la dieta
                </p>

                <div class="mt-4">
                    <a
                        href="#"
                        class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
                        title="read more"
                    >
                        Leer más »
                    </a>
                </div>
            </div>
            <div class="p-6">
                <a href="#"> </a>
                <h1
                    class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-slate-100 lg:text-3xl"
                >
                    Alcalina
                </h1>
                <p class="mx-auto text-base leading-relaxed text-slate-100">
                    Breve descripción de la dieta
                </p>

                <div class="mt-4">
                    <a
                        href="#"
                        class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
                        title="read more"
                    >
                        Leer más »</a
                    >
                </div>
            </div>
        </div>
    </div>

</Layout>
