---
import Layout2 from "../layouts/Layout2.astro";
import Inicio from "../components/Inicio";
---

<Layout2 title="Inicio de Sesión">
  <div class="container flex flex-col px-6 py-12 mx-auto">
    <div class="flex-1 lg:flex lg:items-center lg:-mx-6">
      <div class="text-white lg:w-1/2 lg:mx-6">
        <h3 class="text-2xl font-semibold capitalize lg:text-3xl text-center">
          Inicio de sesión
        </h3>
      </div>
      <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <Inicio client:load />
      </div>
    </div>
  </div>
</Layout2>
