---
import Layout from "../layouts/Layout.astro";
import CrearCuenta from "../components/CrearCuenta.tsx";
---

<Layout title="Crear Cuenta">
  <div class="py-6">
      <CrearCuenta client:load />
  </div>
</Layout>
