---
import Layout from '../layouts/Layout.astro';
import CrearCuenta from '../components/CrearCuenta.tsx';
  const handleSubmit = (datos: any) => {
    console.log(datos);
    alert("Formulario enviado");
  };
---

<Layout title="Crear Cuenta">
  <div class="py-6">
    <CrearCuenta onSubmit={handleSubmit}/>
  </div>
  
</Layout>