---
import Layout2 from '../layouts/Layout2.astro';
import { CardDefault } from '../components/CardsRutinas.tsx'


---
<Layout2 title="Ejercitación">
 
  <div class="flex-col items-center relative w-full px-1 py-40 mx-auto md:px-12 lg:px-24">
      <CardDefault/>
  </div>

 
</Layout2>