---
import Layout2 from "../layouts/Layout2.astro";
import TablaUsuarios from "../components/TablaUsuarios.tsx";
import { getAuthLocalStorage } from "../function/localstorage";



---

<Layout2 title="admin page">
  <div class="place-content-center p-8">
        <div class="flex justify-center">
          <TablaUsuarios client:load/>
        </div>
  </div>
</Layout2>
