---
import Layout2 from "../layouts/Layout2.astro";
---

<Layout2 title="Blog">
  <section class="relative items-center w-full px-1 mx-auto md:px-12 lg:px-24">
    <div
      class="p-20 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8"
    >
      <p
        class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 mt-1 text-3xl font-sans font-bold tracking-tight justify-center"
      >
        Noticias
      </p>

      <p class="mt-2 mb-10 text-gray-400">
        En esta pagina podras encontrar articulos relacionados al mundo tanto
        del deporte, como avances, consejos, entre otros articulos para mejorar
        tu calidad de vida. Mantente siempre actualizado en este portal para que
        no te pierdas ninguna informacion util o de interes.
      </p>
    </div>
  </section>

  <section>
    <div class="flex flex-col items-center px-5 py-8 mx-auto">
      <div
        class="flex flex-col w-full mb-12 prose text-left max-w-max lg:max-w-2xl"
      >
        <div class="w-full mx-auto text-gray-400">
          <h1>Noticia destacada del dia</h1>
          <h2>Cuidate en estas fiestas patrias</h2>
          <p class="text-gray-400">
            Fiestas Patrias es una de las festividades en Chile más celebradas,
            cada año las y los chilenos esperan el 18 y 19 de septiembre para
            festejar en grande un nuevo aniversario de la primera Junta de
            Gobierno, hito que marcó el inicio de la independencia al Imperio
            Español. Durante estas celebraciones una gran parte de población
            modifica sus hábitos alimenticios al incrementar la ingesta de
            ciertos alimentos y bebidas, lo que puede producir cuadros
            digestivos, aumento de peso o descompensaciones de ...
          </p>
          <a
            href="#"
            class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
            title="read more"
          >
            Read More »
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="items-center w-full px-10">
    <div
      class="flex flex-wrap justify-center w-full mx-auto prose max-w-max lg:max-w-3xl"
    >
      <div class="relative justify-center lg:px-4">
        <div class="lg:grid lg:grid-cols-3">
          <div class="p-8">
            <h1 class="text-gray-400">
              ¿Por qué me despierto justo antes de la alarma?
            </h1>
            <p class="text-gray-400">
              Es una situación que le ha pasado a casi todos en alguna ocasión:
              te acuestas en la noche, pones la alarma para despertar temprano
              y, segundos antes de que suene, te despiertas. En general, esto
              ocurre durante los ...
            </p>
            <a
              href="#"
              class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
              title="read more"
            >
              Read More »
            </a>
          </div>
          <div class="p-8">
            <h1 class="text-gray-400">
              ¿Sabes leer bien el etiquetado de los alimentos?
            </h1>
            <p class="text-gray-400">
              Con el aumento de enfermedades relacionadas con la alimentación,
              es crucial entender y analizar el etiquetado de los alimentos para
              tomar decisiones informadas sobre nuestra dieta. Sin embargo,
              muchas personas encuentran...
            </p>
            <a
              href="#"
              class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
              title="read more"
            >
              Read More »
            </a>
          </div>
          <div class="p-8">
            <h1 class="text-gray-400">
              OMS enciende la alerta sobre un componente de la Coca Cola: esto
              puede pasar si la consumes
            </h1>
            <p class="text-gray-400">
              La Organización Mundial de la Salud (OMS) ha emitido una alerta
              preocupante sobre un ingrediente encontrado en la popular bebida
              gaseosa Coca-Cola, que podría ser potencialmente cancerígeno...
            </p>
            <a
              href="#"
              class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600"
              title="read more"
            >
              Read More »
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout2>
