---

import { CardDefault } from '../components/CardsDietas.tsx'
import Layout2 from "../layouts/Layout2.astro";
---

<Layout2 title="Alimentación">
    
    <div class="flex-col items-center relative w-full px-1 py-40 mx-auto md:px-12 lg:px-24">
        <CardDefault client:load/>
    </div>

</Layout2>
