---
import ImagenPerfil from "../assets/logo.png"
import Layout2 from "../layouts/Layout2.astro";
---


<Layout2 title="perfil del Usuario">
    <div
      class="relative items-center w-full px-1 mx-auto md:px-12 lg:px-24 max-w-[30%]"
    >
      <div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-1">
        <div class="flex items-center gap-x-2 pt-8">
          <img
            class="object-cover w-22 h-22 rounded-full"
            src="../assets/espalda-biceps.png"
            alt=""
          />

          <div>
            <h1
              class="text-xl font-semibold text-gray-700 capitalize dark:text-white"
            >
              Bienvenido Usuario1
            </h1>

            <p class="text-base text-gray-500 dark:text-gray-400">
              vichoelcrack@mail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  <section class="px-4 py-12 mx-auto max-w-7xl">
    <canvas id="miGrafico" width="600" height="200"></canvas>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-1 lg:gap-8">
      <div class="h-32 rounded-lg bg-black lg:col-span-2">
        <div>
          <h3 class="text-center text-white pt-8">Progreso diario</h3>
        </div>
        <div class="p-8">
          <span id="ProgressLabel" class="sr-only">Loading</span>
  
          <span
            role="progressbar"
            aria-labelledby="ProgressLabel"
            aria-valuenow="75"
            class="relative block rounded-full bg-gray-200"
          >
            <span
              class="absolute inset-0 flex items-center justify-center text-[10px]/4"
            >
              <span class="font-bold text-white"> 75%</span>
            </span>
  
            <span
              class="block h-4 rounded-full bg-indigo-600 text-center"
              style="width: 75%"
            >
            </span>
          </span>
        </div>
      </div>
      <div class="h-32 rounded-lg bg-black-100"></div>
      <div class="h-32 rounded-lg bg-black lg:col-span-2">
        <div>
          <h3 class="text-center text-white pt-8">Historial de rutinas hechas</h3>
        </div>
        <div class="p-8">
          <span id="ProgressLabel" class="sr-only"></span>
        </div>
      </div>
      <div class="h-32 rounded-lg bg-gray-100"></div>
    </div>
  </section>
  <section class="px-4 py-12 mx-auto max-w-7xl">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-8">
      <div class="h-32 rounded-lg bg-gray-100"></div>
      <div class="h-32 rounded-lg bg-gray-100 lg:col-span-2"></div>
      <div class="h-32 rounded-lg bg-gray-100"></div>
    </div>
  </section>
</Layout2>

<script src="../../node_modules/chart.js/dist/chart.umd.js"></script>
<script type="module" src="grafica.js"></script>
